@font-face {
	font-family: 'Oswald'; 
	src: url(../font/static/Oswald-Bold.ttf);
}
body{
    background-color: #001113!important;
}
h2{
    font-size: 43px!important;
    line-height: 71px!important;
    letter-spacing: -0.02em!important;
}
.textOswald{
    font-family: 'Oswald'!important;
    font-style: normal!important;
    color: #ffffff!important;
}
.logo{
    width: 80px;
    height: 80px;
}
.navbar{
    background: rgba(0, 0, 0, 0.6)!important;
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.4)!important;
    backdrop-filter: blur(5px)!important;
}
.scren1{
    background-image: url(../img/1111.png);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 1000px;
    margin-top: -13vh;
}
.screen1{
    background-image: url(../img/1111.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    margin-top: -13vh;
}
.font-color-w{
    font-size: 25px!important;
    line-height: 36px!important;
    text-align: center!important;

}
.wrap{
    width: 100%;
    height: 94%;
}
.wrapRoom{
    width: 100%;
    height: 91%;
}
.logo1{
    background-image: url(../img/Лого_чер.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 340px;
    height: 340px;
    margin-top: -40px;;
    background-blend-mode: soft-light!important;
    text-align: center!important;
}
.logo1 h1{
    text-align: center!important;
    width: 600px!important;
    height: auto!important;
    font-size: 50px!important;
    line-height: 95px!important;
    text-align: center!important;
    letter-spacing: -0.02em!important;
    text-transform: uppercase!important;
    color: #FFFFFF!important;
    text-shadow: 0px 25px 25px rgba(0, 0, 0, 0.8)!important;
    margin-left: -36%;
    margin-top: 30%;
}
.conte{
    background: linear-gradient(180deg, rgba(0, 17, 19, 0) 0%, #001113 20.57%, #001113 100%);
    height: 300px;
    text-align: center;
    margin-bottom: 9%;
    margin-top: -100px;
}
.conte h2{
    padding-top: 10%;
}
._img2s1{
    border-radius: 10%;
    width: 550px!important;
}
.te02s1{
    font-weight: 700;
    font-size: 32px;
    line-height: 53px;
    text-align: center;
    letter-spacing: -0.02em;
    vertical-align: middle;
}
.shadowMy{
    filter: drop-shadow(15px 19px 17px rgba(0, 0, 0, 0.7));
}
.rig{
    transform: rotate(3deg);
}
.lef{
    transform: rotate(-3deg);
}
.po1{
    width: 100%;
    height: 250px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    filter: drop-shadow(10px 19px 15px rgba(0, 0, 0, 0.9))!important;
}
.pol1{
    clip-path: polygon(0 100%, 100% 31%, 100% 9%);
    background: rgb(23 37 39);
}
.pol2{
    clip-path: polygon(0 9%, 0% 31%, 100% 100%);
    background: rgb(23 37 39);
}
.scren2{
    margin-bottom: 25ch;
}
.scren3{
    margin-bottom: 15ch;
}
.scren4{
    margin-bottom: 15ch;
}
.scren5{
    margin-bottom: 25ch;
    width: 100%;
    height: 1000px;
}
.scren6{
    margin-bottom: 15ch;
}
._h2zag03{
    margin-bottom: 5%;
}
._h2zag04{
    margin-bottom: 5%;
}
.content{
    max-width: 100%;
    min-width: 100%;
}
.sizing{
    width: 70%!important;
    margin: 0 auto;
}
.carousel_scr3{
    filter: drop-shadow(0px 19px 40px rgba(0, 0, 0, 0.7));
}
.card{
    background-color: rgba(0, 0, 0, 0)!important;
    border: none!important;
    border-radius: 0px;
}
.card-img-top{
    filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.4));
    border-radius: 15px;
}
.card-text, .card-title{
    font-size: 24px!important;
}
.fon_con{
    clip-path: polygon(100% 7%, 0% 0%, 0% 100%, 100% 92%);
    background: rgb(23 37 39);
}
.shad_fon{
    filter: drop-shadow(0px 19px 40px rgba(0, 0, 0, 0.7));
}
.form{
    width: 30%;
    height: 60%;
    padding: 2%;
    margin-right: 10%;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: -20px 19px 15px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50px;
}
.fonForm{
    background-image: url(../img/wood-background-rustico-trunks-483965.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 19px 40px rgba(0, 0, 0, 0.7));
}
.form-kom{
    height: 100%!important;
    resize: none;
}
.form-koment{
    height: 30%;
}
.but{
    background-color: white!important;
    color: black!important;
    border: none!important;
    width: 50%!important;
    font-size: 20px!important;
}
.map{
    filter: drop-shadow(0px 19px 40px rgba(0, 0, 0, 0.7))!important;
}
.scren7{
    background-color: black;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 25px;
}
.logo_fut{
    width: 15%;
    margin-left: 2vw;
}
.logo_fut img{
    width: 65%;
    margin: 0 auto;
}
.logo_fut h2{
    font-size: 30px!important;
    line-height: 49px!important;
}

.kont_fut h2{
    font-size: 30px!important;
    line-height: 49px!important;
}
.kont_fut p{
    font-size: 20px!important;
}
.con_icon img{
    width: 8%;
    margin-left: 2%;
    margin-right: 2%;
}
.kopir p{
    font-size: 11px;
    margin-bottom: -10px;
}
.br12{
    border-radius: 12px;
}
.w280{
    width: 280%;
}
.active{
    color: #7ab5ff!important;
}
